
    
    .fond{ 
        display: flex;
        flex-wrap: wrap;
        justify-content : center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cutewallpaper.org/21/purple-fantasy-wallpapers/Warrior-Angel-Fantasy-Art-Wallpaper-1333x1000-148022-.jpg");
        height: auto;
        }
        .position{
            display: flex;
            min-width: 35%;
            justify-content: center;
        } 
        ul li{

            list-style: none;
            padding :18px;
            
        } 
        h3{
            text-align: center;
            padding-bottom: 10px;
        } 
        .titre{
          padding-left: 80%;
        } 
       .article1 li::before{
        
        margin-right: 8px;
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-image: radial-gradient(rgb(212, 219, 235),  rgba(39, 125, 238, 0.808));
        display: inline-block;
       } 
        
        .article1 { 
        display: flex;
        flex-wrap: wrap;
        border-radius: 6px/6px;
        border: 1px solid #02022F;
        box-shadow: 4px 4px 8px #02022F ;
        margin : 40px;
        padding : 18px ;
        width: 400px;
        height: 400px;
        margin-bottom: 30px;
        background-color:#F2F8FF ;
        color: #02022F;
        
        }
      
       
        .citation1{
            background-color: #02022F;
            color : #F2F8FF;
            border : 4px double #F2F8FF;
           height: auto;
           width: 95%; 
           padding :8px;
           text-align: center;
           margin-top:60px;
           align-items: center;
           font-style :italic;
        } 
       
        .citation{
            
            background-color: #02022F;
            color : #F2F8FF;
            border :double #F2F8FF 4px;
           height: auto;
           width: 95%; 
           padding :8px;
           margin-top: 18px;
           text-align: center;
           font-style: italic;
        } 
        .progress{
            width: 220%;
            background-color: #02022F;
            border-radius: 10px;
            height: 15px;
            margin-left: 18px;
            margin-top: -10%;

        } 
        .progress-bar{
            height: 100%;
            width: 0%;
            background-color: #b7d2f1;
            border-radius: 10px;
            position: relative;
            transition :all 1.5s;

        } 
        .progress-bar span{
            position :absolute;
            top :0%;
            right: 0%;
        } 
      
        
        @media screen and (min-width: 566px)and (max-width:769px){
            .fond{
                display:flex;
                height:auto;
               
            } 
            .article1{
                margin: 31px;
                height : 400px;
                width: 400px;
                
            } 
        } 
       @media screen and (max-width: 565px){
        .fond{
            display:flex;
            flex-wrap: wrap;
            flex-direction : column;
            align-items: center;
    
            
        } 
        .article1{
            
            margin: 31px;
            height : auto;
            width: 300px;
    
       } 
       .citation{
         flex-wrap: wrap;
         width: 250px;
       } 
       .titre{
        margin: 0 auto;
        padding-left: 50%;
    } 
    .progress{
        width : 150%;
    } 
     
    }
    