:root{
    --margin0: 4px;
    --margin1: 8px;
    --margin2: 16px;
    --margin3: 24px;
}

.inner-width{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

#titleForm{
    font-size: 40px;
    color: #02022F;
    margin: 32px;
    border-bottom: 4px solid #02022F;
    text-align: center;
    margin-top: 128px;
    padding-bottom: 16px;
}

#littleTitle{
    display: none;
}

.heart{
    display: inline;
}

#select:hover{
    cursor: pointer;
}

.select{
    display: flex;
    justify-content: center;
    height: 53px;
    margin-top: 31px;
}

.formsection{
    min-height: 100vh;
    background-color: #F2F8FF;
    padding: var(--margin3);
    text-align: center;
}


#partOne{    
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
}


#label1.displayLabel{
    min-width: 92%;
}

.displayLabel input, textarea{
    padding: var(--margin2);
    margin: var(--margin0);
    background-color:#02022F ;
    color: rgb(236, 233, 250);
    width: 100%;
}

#conditionForm{
    display: flex;
    justify-content: flex-end;
    margin-right: var(--margin2);
    font-size: var(--margin2);
}

#submit{
    margin: var(--margin3)
}

.displayLabel label{
    display: flex;
    justify-content: flex-start;
    margin: var(--margin0);
}

.displayLabel{
    margin-bottom: 20px;
}

.btnSubmit{
    padding: var(--margin2);
    width: 30%;
    border-radius: 16px;
    transition: .2s linear;
    background-color: rgb(248, 221, 226);
}

.btnSubmit:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.popup{
    display: none;
    margin-bottom: 64px;
    margin-top: -35%;
}

#textPopup{
    background-color: rgb(219, 212, 252);
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: solid 4px #02022F;
    border-radius: 16px;
    padding: var(--margin3);
    box-shadow: 4px 4px 8px #02022F;
    font-size: 20px;
}

#titlePopup{
    padding-bottom: 20px;
    font-size: 24px;
}

#citationPopup{
    padding-top: 50px;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 20px;
}


@media screen and (max-width:600px){
    .popup{
        margin-top: -140%;
    }
    #partOne, #partTwo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #titleForm{
        display: none;
    }    

    .displayLabel, #select{
        margin-bottom: 20px;
    }

    #littleTitle{
        display: block;
        margin: 32px;
        font-size: 32px;
        border-bottom: 4px solid #02022F;
        text-align: center;
        padding-bottom: 16px;
    }

    .heart{
        display: none;
    }

    #select{
        width: 100%;
    }

    .btnSubmit{
        width: 100px;
    }

}

@media screen and (min-width:601px) and (max-width:800px){
    #label1.displayLabel{
        min-width: 84%;
    }
    .popup{
        display: none;
        margin-bottom: 64px;
        margin-top: -100%;
    }
}