.title {
    font-size: 40px;
    color: #02022F;
    margin: 64px;
    border-bottom: 4px solid #02022F;
    text-align: center;
    padding-bottom: 16px;
}

.sections {
    background-color: rgb(251, 250, 255)
}

.inner-width{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}
.profile-image:hover{
    background-image: url("../img/ahriFee.jpg");
}
.profile-image {
    background-image: url("../img/ahri_profile_pic.jpg");
    background-size: cover;
    background-position: 100% 0%;
    height: 264px;
    width: 264px;
    border-radius: 100%;
    border: solid 4px #02022F;
    display:flex;
    align-items: baseline;
    margin-bottom: 32px;
}
.profileContact li {
    font-size: 24px;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.profileContact li::before{
    margin-right: 8px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-image: radial-gradient(rgb(212, 219, 235),  rgba(39, 125, 238, 0.808));
    display: inline-block;
}
.success {
    font-size: 24px;
    padding-top: 5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
}

.success:hover{
    transform: scale(1.05);
}

.success p{
    border: double #e6f2ff 4px;
    background-color: #02022F;
    padding: 24px;
    color: #e6f2ff;
    text-align: center;
}
.parent {

display: flex;
justify-content: space-evenly;
align-items: center;
flex: wrap;
margin-bottom: 32px;
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    background-image: radial-gradient(circle at 50% 50%, rgb(214, 229, 238), rgba(163, 171, 221, 0.986) 20%, rgba(115, 170, 241, 0.808) 50%);
    border-radius: 50%;
    margin: 10px 10px;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 769px) {
    .cursor{
        display: none;
    }
    
    .profile-image{
        animation: changePic 8s linear infinite;
    }

    .profileContact li {
        font-size: 20px;
    }
    .success{
        font-size: 20px;
    }

    @keyframes changePic{
        50%{
            background-image: url("../img/ahriFee.jpg");
        }
    }
}

@media screen and (max-width: 565px) {
    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex: wrap;
    }
    .cursor{
        display: none;
    }
    .title {
        font-size: 32px;
    }
    .title span{
        display: none;
    }
    .profile-image{
        width: 200px;
        height: 200px;
        border: solid 2px #02022F;
    }
    .profileContact li {
        font-size: 16px;
    }

    .profile-image{
        animation: changePic 8s linear infinite;
    }

    @keyframes changePic{
        50%{
            background-image: url("../img/ahriFee.jpg");
        }
    }
}