@import "header.css";
@import "profile.css";
@import "articles.css";
@import "contact-form.css";
@import "footer.css";

html{
    scroll-behavior: smooth;
}

*,*::after,*::before{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #F2F8FF;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}