@import "header.css";
@import "profile.css";
@import "articles.css";
@import "contact-form.css";
@import "footer.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgb(251, 250, 255);
    cursor: move;
}